// Heading Color
$heading-color: #292929;

// Text Color
$text-color: #444;

// Default Background
$bg-default: #3599db;

// Dark blue
$dark-blue: #144E75;

// Gray Background
$bg-gray: #eef3f6;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Hover Color
$hover-color: #3599db;

//Border Color
$border-color: #3599db;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;